extends layout

block layout-content
  div.View
    h1.Banner Example
    div.Message
      div.Title
        h3 This is an
        h1 Example
        img(src="images/a.png")
      span.Details More details
    div.NavButtons
      a(href="/user")
          div.NavButton Go
